<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Define various log targets -->
	<targets>
		<target xsi:type="File" name="debugLogs" fileName="D:/logs/debug-${shortdate}.log"/>
		<target xsi:type="File" name="authLogFile" fileName="D:/logs/LiftLog/auth-${shortdate}.log" />
		<target xsi:type="File" name="crudLogFile" fileName="D:/logs/LiftLog/crud-${shortdate}.log" />

	</targets>

	<!-- Define log rules -->
	<rules>
		<logger name="DebugLogger" minlevel="Trace" writeTo="debugLogs" />
		<logger name="AuthLogger" minlevel="Trace" writeTo="authLogFile" />
		<logger name="CrudLogger" minlevel="Trace" writeTo="crudLogFile" />

	</rules>
</nlog>
